footer.footer
    .footer__logo
        img(src='/img/Mubea_logo.svg.png', alt='Mubea logo')
        //h1 TDT
    ul.footer__nav
        li: a(href='#') About TDT
        li: a(href='#') About ASMAG
        li: a(href='#') Contact
    p.footer__copyright &copy; by Matthias Trudewind, John Schmidt. All rights reserved. &nbsp &nbsp Version 1.0 &nbsp &nbsp
        span#p1
        script.
           var date = new Date();
           var current_date = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
           document.getElementById("p1").innerHTML = current_date;